* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    height: auto;
    width: 30%;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 7px 7px 10px black;
    backdrop-filter: blur(5px);
  }
  
  .title {
    font-size: 2rem;
    text-shadow: 1px 1px white;
    font-weight: 800;
  }
  
  form {
    margin-top: 50px;
  }
  
  input {
    text-align: center;
      outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
  }
  
  #submit {
    width: 80px;
    margin-left: 10px;
    font-weight: 900;
background-color: white;
border: none;
  }
  
  ol {
    margin-top: 15px;
    font-weight: 600;
    color: white;
  }


  @media screen and (max-width:1280px) {
    .container {
      width: 80%;
    }
  }

  @media screen and (max-width:426px) {

    .container {
        width: 75%;
    }
    .title {
        font-size: 1.5rem;
    }

    form {
        display: flex;
        justify-content: center;
        font-size: 0.75rem;
    }

    #submit {
        display: block;
        width: 100%;;
  }
}